app-code-editor{
    .math-field{
        width: 100%;
    }
    .math-field .mq-root-block{
        font-size: 18px !important;
    }
    .btn-properties{
        border-radius: 0;
        width: 20px;
        height: 20px;
        float: right;
        margin-top: -10px;
    }
    .type-code{
        font-weight: 500;
        padding-right: 10px;
    }

}